[submodule "review_service/api"]
	path = review_service/api
	url = git@github.com:brightzi/api.git
[submodule "review_b/api"]
	path = review_b/api
	url = git@github.com:brightzi/api.git
[submodule "review_o/api"]
	path = review_o/api
	url = git@github.com:brightzi/api.git
